<!-- templates/home.html -->
{% extends 'polls/base.html' %}
{% load staticfiles%}

{% block title %}Home{% endblock %}

{% block content %}
    <script>
        {% if message %}
        alert('{{ message }} 😊');
        {% endif %}
</script>
    <!-- Fixed navbar -->
     <!-- navbar-fixed-top -->
    <nav class="navbar navbar-default probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'polls:home' %}">Isra <em>&amp;</em> Coi</a>
        </div>

    <div id="navbar-collapse" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#" data-nav-section="home">Inicio</a></li>
        <li><a href="#" data-nav-section="groom-bride">Novio &amp; Novia</a></li>
        <li><a href="#" data-nav-section="when-where">Dónde &amp; Cúando</a></li>
        <li><a href="#" data-nav-section="gifts">Regalos</a></li>
        <li><a href="#" data-nav-section="rsvp">Confirmar</a></li>
        <li><a href="#" data-nav-section="gallery">Galería</a></li>
      </ul>
    </div>

    </div>
    </nav>


    <section class="flexslider" data-section="home">
      <div class="container text-intro-wrap">
        <div class="row">
          <div class="col-md-12 text-center text-intro probootstrap-animate">
            <h1>Isra <em>&amp;</em> Coi</h1>
            <h2>23 Agosto, 2019 &mdash; Santiago, Chile</h2>
          </div>
        </div>
      </div>
      <ul class="slides">
        <li style="background-image: url('{% static '/polls/img/hero_bg_1.jpg' %}')"></li>
        <li style="background-image: url('{% static 'polls/img/hero_bg_2.jpg' %}')"></li>
        <li style="background-image: url('{% static 'polls/img/hero_bg_3.jpg' %}')"></li>
      </ul>
    </section>

    <section class="probootstrap-section probootstrap-section-colored probootstrap-wedding-countdown">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate"><h4>El matrimonio empieza en</h4></div>
          <div class="col-md-12 probootstrap-animate">
            <div class="date-countdown"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg" data-section="groom-bride">
      <div class="container">
        <div class="row">
          <div class="col-md-12 probootstrap-groom-bride">

            <div class="probootstrap-groom probootstrap-animate">
              <figure>
                <img src="{% static 'polls/img/groom_1.jpg' %}" class="img-responsive">
              </figure>
              <span class="probootstrap-caption">El novio</span>
              <h2 class="text-center">Israfel Salazar</h2>
            </div>

            <div class="probootstrap-divider probootstrap-animate"><span>&amp;</span></div>

            <div class="probootstrap-bride probootstrap-animate">
              <figure>
                <img src="{% static 'polls/img/bride_1.jpg' %}" class="img-responsive">
              </figure>
              <span class="probootstrap-caption">La novia</span>
              <h2 class="text-center">Constanza Fierro</h2>
            </div>

          </div>
            <div class="col-md-6 col-md-offset-3 text-center probootstrap-animate">
                <p>Llevando poco más de dos años juntos, y habiendo disfrutado y sufrido, pequeños y grandes momentos... Decidimos casarnos! Decidimos que queremos estar juntos en los lunes de trabajo que vengan, en los viernes de carrete, en los sábados de almuerzos familiares, y en los domingos de Netflix.</p>
            </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-section-colored" data-section="when-where">
      <div class="container">
        <div class="row mb40 text-center">
          <div class="col-md-12 probootstrap-animate"><h2 class="mt0">Dónde &amp; Cuándo</h2></div>
        </div>
        <div class="row">
          <div class="col-md-6 probootstrap-animate">
            <p><img src="{% static 'polls/img/ceremony.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-rounded"></p>
            <h3>Ceremonia Religiosa</h3>
            <p>Te esperamos primero en la Parroquia San Lázaro, el 23 de Agosto a las 19:45 hrs. (Av. Ejército Libertador 415).</p>

          </div>
          <div class="col-md-6 probootstrap-animate">
            <p><img src="{% static 'polls/img/party.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-rounded"></p>
            <h3>Fiesta</h3>
            <p>Y después nos trasladamos a Casa Barros Echeñique para empezar la fiesta a las 21:30 hrs. (Dieciocho 226)</p>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section" data-section="gifts">
        <div class="container">
            <div class="row mb40 text-center">
                <div class="col-md-12 probootstrap-animate"><h2 class="mt0">Regalos</h2></div>
            </div>
            <div class="row">
              <div class="col-md-5 col-md-offset-1 probootstrap-animate">
                <video autoplay loop muted><source src="{% static 'polls/videos/travel.mp4' %}" type="video/mp4"/></video>
              </div>
                <div class="col-md-5 probootstrap-animate">
                <video autoplay loop muted><source src="{% static 'polls/videos/gifts.mp4' %}" type="video/mp4"/></video>
              </div>
            </div>
            <div class="row">
                <h4 class="text-center">Corriente 8011078409 | Banco Chile | 18.642.144-2 | israycoi@gmail.com</h4>
            </div>
        </div>
    </section>

    <section class="probootstrap-section probootstrap-section-colored probootstrap-animate" data-section="rsvp">
      <div class="container">
        <div class="row mb40">
          <div class="col-md-12 text-center probootstrap-animate">
            <h2 class="mt0 mb10">Confirma tu asistencia</h2>
              <p>Presiona en "confirmar / editar" para saber que contamos contigo<br>
              Y además para saber si eres vegeteriano!</p>
          </div>
        </div>
        <div class="row mb40">
          <div class="col-md-12 text-center">
            {% if user.is_authenticated %}
              <a href="{% url 'polls:show_answer' user.id %}"><button class="btn btn-reverse">Confirmar / Editar</button></a>
                <a href="{% url 'logout' %}"><button class="btn btn-reverse-secondary">Cerrar sesión</button></a>
            {% else %}
              <a href="{% url 'login' %}"><button class="btn btn-reverse">Entrar</button></a>
            {% endif %}
          </div>
        </div>

      </div>
    </section>

    <section class="probootstrap-section" data-section="gallery">
      <div class="container">
        <div class="row mb40 probootstrap-animate">
          <div class="col-md-12 text-center"><h2>Gallery</h2></div>
        </div>

        <div class="row probootstrap-gutter30">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row probootstrap-gutter30">
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{% static 'polls/img/img_33.jpg'%}" style="background-image: url('{% static '/polls/img/img_33.jpg' %}')">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'polls/img/img_33.jpg'%}" class="img-responsive"></div>
                </a>
              </div>
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{% static 'polls/img/img_2.jpg'%}" style="background-image: url('{% static '/polls/img/img_2.jpg' %}')">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'polls/img/img_2.jpg'%}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                </a>
              </div>
            </div>
            <div class="row probootstrap-gutter30">
              <div class="col-md-12 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{% static 'polls/img/img_1.jpg'%}" style="background-image: url('{% static '/polls/img/img_1.jpg' %}')">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'polls/img/img_1.jpg'%}" class="img-responsive"></div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row probootstrap-gutter30">
              <div class="col-md-6">
                <div class="row probootstrap-gutter30">
                  <div class="col-md-12 probootstrap-animate">
                    <a class="probootstrap-image image-popup" href="{% static 'polls/img/img_4.jpg'%}" style="background-image: url('{% static '/polls/img/img_4.jpg' %}')">
                      <div class="probootstrap-image-for-popup"><img src="{% static 'polls/img/img_4.jpg'%}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                    </a>
                  </div>
                  <div class="col-md-12 probootstrap-animate">
                    <a class="probootstrap-image image-popup" href="{% static 'polls/img/img_5.jpg'%}" style="background-image: url('{% static '/polls/img/img_5.jpg' %}')">
                      <div class="probootstrap-image-for-popup"><img src="{% static 'polls/img/img_5.jpg'%}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image  height-2x image-popup" href="{% static 'polls/img/img_6.jpg'%}" style="background-image: url('{% static '/polls/img/img_6.jpg' %}'); background-position: 32%;">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'polls/img/img_6.jpg'%}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- END row -->

        <div class="row probootstrap-gutter30">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row probootstrap-gutter30">
              <div class="col-md-6">
                <div class="row probootstrap-gutter30">
                  <div class="col-md-12 probootstrap-animate">
                    <a class="probootstrap-image image-popup" href="{% static 'polls/img/img_7.jpg'%}" style="background-image: url('{% static '/polls/img/img_7.jpg' %}'); background-position: 20%;">
                      <div class="probootstrap-image-for-popup"><img src="{% static 'polls/img/img_7.jpg'%}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                    </a>
                  </div>
                  <div class="col-md-12 probootstrap-animate">
                    <a class="probootstrap-image image-popup" href="{% static 'polls/img/img_8.jpg'%}" style="background-image: url('{% static '/polls/img/img_8.jpg' %}'); background-position: 70%;">
                      <div class="probootstrap-image-for-popup"><img src="{% static 'polls/img/img_8.jpg'%}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image  height-2x image-popup" href="{% static 'polls/img/img_9.jpg'%}" style="background-image: url('{% static '/polls/img/img_9.jpg' %}'); background-position: 65%;">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'polls/img/img_9.jpg'%}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row probootstrap-gutter30">
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{% static 'polls/img/img_10.jpg'%}" style="background-image: url('{% static '/polls/img/img_10.jpg' %}')">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'polls/img/img_10.jpg'%}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                </a>
              </div>
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{% static 'polls/img/img_11.jpg'%}" style="background-image: url('{% static '/polls/img/img_11.jpg' %}')">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'polls/img/img_11.jpg'%}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                </a>
              </div>
            </div>
            <div class="row probootstrap-gutter30">
              <div class="col-md-12 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{% static 'polls/img/img_12.jpg'%}" style="background-image: url('{% static '/polls/img/img_12.jpg' %}')">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'polls/img/img_12.jpg'%}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>

    {% if user.is_authenticated %}
    <section class="probootstrap-section probootstrap-section-colored probootstrap-animate" data-section="comments">
      <div class="container">
        <div class="row mb40">
          <div class="col-md-12 text-center probootstrap-animate">
            <h2 class="mt0 mb10">Comentarios</h2>
              <h3>Escríbenos algo! </h3>
                  <p>¿Qué tan emocionado estabas de que te invitáramos?
                  <br>¿Qué te pareció la página?</p>
          </div>
        </div>
        <div class="row mb40">
          <div class="col-md-12 text-center">
              <form action="{% url 'polls:make_comment' %}" method="POST" class="post-form">
                {% csrf_token %}
                  <textarea type="text" name="text" maxlength="500" id="id_text" cols="40" rows="7"></textarea><br>
                <button type="submit" class="btn btn-reverse" value="save">Enviar</button>
            </form>
          </div>
        </div>

      </div>
    </section>
    {% endif %}

    <footer class="probootstrap-footer">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            &copy; 2019 Constanza Fierro &amp; Israfel Salazar<br>Diseño basado en <a href="https://uicookies.com">uicookies.com</a>
          </div>
        </div>
      </div>
    </footer>
{% endblock %}