<!-- templates/home.html -->
{% extends 'polls/base_2.html' %}
{% load staticfiles%}

{% block content_base2 %}
        <div class="row mb40">
          <div class="col-md-12 text-center">
            <h2 class="mt0 mb10">Te invitamos además con pololo(a) 🥂</h2>
            <h4>Ingresa su información! (Si no podrá estar ese día avísanos ☹️)</h4>
          </div>
        </div>
        <div class="row mb40">
          <div class="col-md-12 text-center">
            {% if guest.has_plus_one %}
                <form action="{% url 'polls:plus_one_info' user.id %}" method="POST" class="post-form">
                    {% csrf_token %}
                    <p><label for="id_name">Nombre:</label><input type="text" name="name" maxlength="200" id="id_name"></p>
                    <p><label for="id_last_name">Apellido:</label> <input type="text" name="last_name" maxlength="200" id="id_last_name"></p>
                    {% if not guest.just_party %}
                        <p><label for="id_drink_check">Bebe alcohol?</label> <input type="checkbox" name="drink_check" id="id_drink_check" checked=""></p>
                        <p><label for="id_is_veggie">Es vegetariano o vegano?</label> <input type="checkbox" name="is_veggie" id="id_is_veggie"></p>
                    {% endif %}
                    <button type="submit" class="btn btn-primary" value="save">Guardar</button>
                </form>
            {% else %}
                Esta página no está disponible para ti...
            {% endif %}
          </div>
        </div>

{% endblock %}